@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

*{
    margin: none;
    padding: none;
    box-sizing: border-box;
}
html body {
    background-color:beige;
    padding-top: auto;
    padding-bottom: auto;
    padding-left: 400px;

}
header{
    font-family: 'PT Sans', sans-serif;  ;
}

form{
    background-color:lightgray;
    font-family: 'PT Sans', sans-serif;   
    position: relativa;
    width: 500px;
    height: 1260px;
    margin-top: 50px;
}
form #cMsg{
    width: 400px; height:300px ; resize: none;
}
form #creg{
    width: 150px; height:auto ; resize: none;
}
input::placeholder{
    position: absolute;
}

input#sub{
    padding: 15px;
    margin-left: 180px;
}
input#sub:hover{
    opacity: 90%;
}

form legend{
    font-size: larger;
    font-weight: bold;
    color: darkslategray;
}
form label{
    font-weight: bold;
}
form p#obsI,p#obsII{
    font-size: 9pt;
    color: brown;
}